.Title{
    color: #FFF;

    text-align: center;
    font-family: "Euclid Circular B";
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    margin: 0;
}
.PasswordContainer{
    position: relative;
}
.ConfirmPasswordContainer{
    position: relative;
}
.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}

.SignUpForm{
    opacity: 1;
    outline: none;
    border-radius: 40px;
    border: 4px solid #FFF;
    width: 600px;
    background: transparent;
    height: 66.667px;
    color: #FFF;

    font-family: "Euclid Circular B";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.267px;
    padding-left: 20px;
}
.SignUpForm::placeholder{
    color: #FFF;
    font-family: "Euclid Circular B";
    font-size: 26.667px;
    outline: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.267px;
}

.PasswordForm{
    outline: none;
    opacity: 1;
    border-radius: 40px;
    border: 4px solid #FFF;
    width: 600px;
    background: transparent;
    height: 66.667px;
    color: #FFF;
    font-family: "Euclid Circular B";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.267px;
    padding-left: 20px;
}
.ConfirmPasswordForm{
    outline: none;
    opacity: 1;
    border-radius: 40px;
    border: 4px solid #FFF;
    width: 600px;
    background: transparent;
    height: 66.667px;
    color: #FFF;
    font-family: "Euclid Circular B";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.267px;
    padding-left: 20px;
}

.PasswordForm::placeholder{
    color: #FFF;
    outline: none;

    font-family: "Euclid Circular B";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.267px;
}
.ConfirmPasswordForm::placeholder{
    color: #FFF;
    outline: none;

    font-family: "Euclid Circular B";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.267px;
}

.ButtonsBlock{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.SignInButton{
    margin-top: 10px;
    border-radius: 40px;
    background: #FFF;
    width: 200px;
    height: 66.667px;
    color: #327F79;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: "Euclid Circular B";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.267px;
}

.LogInButton{
    opacity: 1;
    background: transparent;
    width: 200px;
    height: 66.667px;
    border-radius: 40px;
    border: 4px solid #FFF;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    font-family: "Euclid Circular B";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.267px;
}

.ButtonPassword{
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 25px;
    width: 30px;
    height: 24px;
    background-color: #327F79;
    border: none;
}
.ConfirmButtonPassword{
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 25px;
    width: 30px;
    height: 24px;
    background-color: #327F79;
    border: none;
}