.TitleContainer{
    width: 100%;
    max-width: 58.2%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img {
    width: 100%;
    max-width: 100%;
    display: block;
}
.Header{
    display: block;
    color: #327F79;
    margin-bottom: 48px;
    margin-top: 108px;
    text-align: center;
    font-family: Pribambas;
    font-size: 133.333px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.667px;
}